.form-container {
    padding: 100px; /* Assuming 1.25rem is equivalent to 20px */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.InputContainer {
    margin-bottom: 15px;
    width: 650px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #51C4D3, #D8E3E7);
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  }
  
.input {
    width: 620px;
    height: 40px;
    border: none;
    outline: none;
    caret-color: #1b9ab7;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding-left: 15px;
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 13.4px;
  }

.input:focus{
    border: 1px solid #51C4D3;
}

.input::placeholder{
    font-family: consolas;

}

.form-footer {
    margin: 20px; /* Assuming 1.25rem is equivalent to 20px */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    gap: 40px;
}

.button{
    align-items: center;
    background-image: linear-gradient(144deg, #126E82, #51C4D3 50%, #00DDEB);
    border: 0;
    border-radius: 35px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
}

.button:active,
.button:hover,
a:hover {
    outline: 0;
    color: white;
}

.button span {
    background-color: white;
    color: #51C4D3;
    font-weight: 500;
    padding: 16px 24px;
    border-radius: 35px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button:hover span {
    background: none;
    color: white;
}

a {
    color: #51C4D3;
}

/* Start Styling Form-questions */
.form-questions {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 608px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 15px; 
    padding: 20px; 
}

.form-questions label{
    margin-bottom: 10px;
}

.new-question-input {
    width: 80%; 
    height: 40px;
    border-radius: 10px;
    border: 1px solid #51C4D3;
    padding: 2px;
    margin-bottom: 10px; 
}


.new-question-input::placeholder {
    font-family: consolas;
}

.btn{
    width: 80px;
    height: 40px;
    background-image: linear-gradient(144deg, #126E82, #51C4D3 50%, #00DDEB);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    outline: none;
    border: none;
    color: white;
}


.select-question-type-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.select-question-type {
    width: 80%; 
    height: 40px;
    border-radius: 10px;
    border: 1px solid #51C4D3;
    padding: 5px;
    margin-bottom: 15px;
}

.select-question-type option {
    background-color: white;
    color: #1b9ab7;
    font-weight: normal;
}

/* Styling options-input */
.options-input {
    margin: 5px;
    outline: none;
    border: none;
    resize: none;
    margin-bottom: 15px;
}
